<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wilo.reports" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap = "http://phonegap.com/ns/1.0" >
    <preference name="loglevel" value="DEBUG" />
	<gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" version="1.1.1" />
	<gap:plugin name="br.com.paveisitemas.splashscreen" version="2.1.1" />
    <feature name="Whitelist">
        <param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>
    <allow-intent href="market:*" />
	
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="orientation" value="landscape" />
    <name>WiloReports</name>
    <description>
       Latest reports from the wiloreports monitoring system.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Devicesmart Software Team
    </author>
	
	<gap:splash src="screendpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="screenmdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="screenhdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="screenxhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	
   
   
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access launch-external="yes" origin="http://*" />
    <access launch-external="yes" origin="https://*" />
    <access launch-external="yes" origin="*" />
    
</widget>
